body{
    background-color: #7aaa00;
    margin: 0;
    padding: 0;
}

.bomb-explosed{
    display: flex;
    height: 100%;
    width: 100%;
}

.contagem-bomb{
    display: none;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    font-size: 110%;
    width: 100px;
    font-weight: bolder;
    background-color: rgb(255, 255, 255);
}

.bomb-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: center;
    height: 100vh;
}

.btn-bomb, .btn-cancel{
    font-weight: bolder;
    width: 150px;
    height: 30px;
    margin-top: 10px;
}

.info-bomb{
    font-weight: bolder;
    display: flex;
    width: 350px;
}